.logPos {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 120px;
  height: 70px;
}

.bookmarkLogo {
  display: flex;
  align-items: center;
  color: orange;
}

.bmImg {
  width: 30px;
}
